.featuresList {
    @apply w-full lg:-mt-6 md:-mt-6 -mt-7 relative z-50
           flex md:flex-row flex-col justify-between items-center 
           md:gap-0 gap-4;
}

/* 🟦 Cartes */
.featureCardLeft {
    @apply bg-background shadow-white-card overflow-hidden
           rounded-tl-md rounded-bl-md 
           md:rounded-tr-none md:rounded-br-none 
           rounded-tr-md rounded-br-md md:max-w-[33%] border border-border;
}

.featureCardCenter {
    @apply bg-background shadow-white-card overflow-hidden 
           rounded-md md:absolute relative z-10 md:max-w-[35%] md:left-[32.5%] border border-border;
}

.featureCardRight {
    @apply bg-background shadow-white-card overflow-hidden
           rounded-tr-md rounded-br-md 
           md:rounded-tl-none md:rounded-bl-none 
           rounded-tl-md rounded-bl-md md:max-w-[33%] border border-border;
}

/* 🧠 Articles */
.featureArticle {
    @apply md:bg-black/[0.01] flex flex-col items-center justify-center gap-4 
           md:py-8 py-4 lg:px-3 px-2;
}

.featureArticleCenter {
    @apply flex-1 flex flex-col items-center justify-center gap-4 md:py-14 py-4 lg:px-6 px-3;
}

/* 💡 Contenu */
.iconWrapper {
    @apply bg-primary/[0.07] text-primary rounded-full lg:p-5 p-3;
}

.featureTitle {
    @apply lg:text-xl text-base font-semibold font-poppins;
}

.featureText {
    @apply text-muted-foreground lg:text-base text-sm text-center;
}
