/* --- SECTION PRINCIPALE --- */
.section {
    @apply xl:w-[80%] w-[95%] max-w-[90rem] mx-auto mt-28;
}

.content {
    @apply w-full flex justify-between items-center lg:flex-row flex-col gap-10;
}

.textContainer {
    @apply flex-1 lg:max-w-none max-w-[750px];
}

.sectionTitle {
    @apply lg:text-lg text-sm font-semibold uppercase text-primary;
}

.mainTitle {
    @apply font-poppins font-medium lg:text-2xl text-xl text-foreground leading-snug lg:mt-2 mt-1;
}

.highlight {
    @apply text-primary;
}

.description {
    @apply text-muted-foreground lg:text-base text-sm mt-4 leading-relaxed;
}

.cardsWrapper {
    @apply mt-10 flex sm:gap-2 gap-8 justify-between sm:flex-nowrap flex-wrap;
}

.cardsList {
    @apply flex flex-col gap-8;
}

.card {
    @apply flex items-center gap-6;
}

.iconWrapper {
    @apply min-h-[4rem] min-w-[4rem] text-primary bg-primary/5 rounded-full flex items-center justify-center shadow-sm;
}

.icon {
    @apply w-7 h-8;
}

.cardTitle {
    @apply text-foreground font-medium lg:text-xl text-base;
}

.cardDescription {
    @apply lg:text-base text-muted-foreground text-sm;
}

.quoteBox {
    @apply bg-afri-secondary/5 py-5 px-3 rounded-md text-foreground lg:text-base text-sm sm:w-[45%] min-w-[185px] lg:max-w-[230px] sm:max-w-[215px] w-full font-medium leading-relaxed relative shadow-sm;
}

.quoteIcon {
    @apply text-afri-secondary absolute w-8 h-8 -bottom-4 right-2;
}

.actionsWrapper {
    @apply flex md:gap-14 gap-3 mt-10 items-center;
}

.ctaButton {
    @apply bg-primary text-primary-foreground py-3 sm:px-8 px-4 rounded-md shadow-sm lg:text-lg text-base hover:bg-[#1B1464] transition;
}

.contactInfo {
    @apply flex gap-3 items-center;
}

.headsetIconWrapper {
    @apply min-h-[3rem] min-w-[3rem] bg-afri-secondary/5 text-afri-secondary rounded-full flex items-center justify-center shadow-sm;
}

.headsetIcon {
    @apply w-6 h-6;
}

.address {
    @apply not-italic;
}

.contactLabel {
    @apply text-foreground font-medium md:text-base text-sm;
}

.phoneNumber {
    @apply font-semibold md:text-base text-sm text-muted-foreground mt-1;
}
