/* project.module.scss */

.section {
    @apply xl:w-[80%] w-[95%] max-w-[90rem] mx-auto mt-20 flex flex-col gap-3;
}

.title {
    @apply lg:text-lg text-sm font-semibold uppercase text-primary;
}

.subtitle {
    @apply font-poppins font-medium lg:text-2xl text-xl text-foreground leading-snug w-full;
}

.list {
    @apply mt-10 flex md:flex-nowrap flex-wrap sm:flex-row flex-col justify-center items-center gap-5;
}

.item {
    @apply flex-1 min-w-[15rem] md:max-w-none sm:max-w-[18rem] w-full relative;
}

.article {
    @apply lg:h-[25rem] sm:h-[20rem] h-[25rem] relative rounded-lg overflow-hidden shadow-sm;
}

.image {
    @apply object-cover w-full h-full absolute top-0 left-0 z-0;
}

.content {
    @apply absolute bottom-6 left-0 2xl:px-8 md:px-2 px-4 z-20 text-primary-foreground flex flex-col gap-2 transition-transform duration-500;
}

.titleProject {
    @apply text-primary-foreground font-medium lg:text-xl text-base text-start;
}

.subtitleProject {
    @apply lg:text-base text-primary-foreground/90 text-sm text-start;
}

.hoverText {
    @apply lg:text-base text-primary-foreground/90 text-sm text-start 2xl:px-8 md:px-2 px-4;
}

.rectangle {
    @apply absolute -bottom-3 right-1/2 transform translate-x-1/2 -z-10 bg-afri-secondary w-[80%] h-6;
}

.bgOverlayGradient {
    position: absolute;
    z-index: 10;
    inset: 0;
    background-image:
        linear-gradient(to top, #2b248ce9 0%, #2b248c49 30%, transparent 100%),
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.bgHoverGradient {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: end;
    padding-bottom: 1.5rem;
    background-image: linear-gradient(to top, #2b248c 0%, #2b248ca4 50%, #2b248c48 100%);
    transition: transform 0.4s ease-in-out;
}
