.form {
    @apply lg:absolute lg:right-[3rem] w-full xl:w-[50vw] xl:max-w-[900px] lg:max-w-[60vw] max-w-[850px] flex flex-col gap-5;
}

.formFields {
    @apply space-y-5;
}

.inputsRow {
    @apply flex md:flex-row flex-col justify-between gap-2;
}
.inputWrapper {
    @apply relative flex-1 flex flex-col items-start;
}

.input {
    @apply md:p-3.5 p-2.5 w-full border-0 border-b-[3px] border-gray-300 focus:border-b-afri-primary focus:ring-0 outline-none transition-all duration-300 lg:text-base text-sm placeholder:text-gray-500 autofill:bg-white autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)];
}

.select {
    @apply md:p-3.5 p-2.5 w-full border-0 border-b-[3px] border-gray-300 focus:border-b-afri-primary focus:ring-0 outline-none transition-all duration-300 lg:text-base text-sm text-gray-700 bg-white cursor-pointer appearance-none;
    &:invalid {
        @apply text-gray-500;
    }
}

.selectIcon {
    @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-3 text-gray-400;
}

.textarea {
    @apply md:p-3.5 p-2.5 w-full border-0 border-b-[3px] border-gray-300 focus:border-b-afri-primary focus:ring-0 outline-none transition-all duration-300 lg:text-base text-sm placeholder:text-gray-500 h-24 max-h-[7rem];
}
.error {
    @apply text-xs text-red-600;
}
.submitButton {
    @apply bg-gradient-to-r w-max from-afri-primary to-[#1B1464] text-white py-3.5 px-8 rounded-sm shadow-lg lg:text-base text-sm font-medium hover:shadow-xl hover:scale-[1.02] active:scale-[0.98] transition-all duration-300 mt-2;
}

.option {
    @apply text-gray-700;

    &:disabled {
        @apply text-gray-400;
    }
}
