.section {
    @apply mt-20 xl:w-[80%] w-[95%] max-w-[90rem] mx-auto;
}

.container {
    @apply relative w-full flex lg:flex-row flex-col lg:items-center items-start  text-center mid-xl:justify-start mid-xl:gap-[12vw] justify-between gap-10;
}

.textContent {
    @apply flex flex-col items-start gap-6 lg:max-w-[600px] max-w-[850px];
}

.header {
    @apply flex flex-col items-start gap-1;
}

.badge {
    @apply lg:text-sm text-xs text-afri-text-primary font-semibold font-raleway flex items-center w-max;

    svg {
        @apply w-3 h-3 mx-1;
    }
}

.title {
    @apply font-poppins font-medium lg:text-2xl text-xl text-afri-text-primary leading-snug lg:text-center lg:mb-16 mb-8;
}

.description {
    @apply lg:text-sm text-xs text-afri-text-muted text-start;
}

.divider {
    @apply h-[0.15rem] w-full bg-afri-primary/20;
}

.address {
    @apply not-italic;
}

.contactList {
    @apply flex lg:flex-col items-start gap-6 lg:flex-nowrap flex-wrap;
}

.contactItem {
    @apply lg:text-lg text-sm flex flex-col items-start gap-1 font-medium;

    &.schedule {
        @apply text-afri-primary sm:flex-nowrap flex-wrap;

        svg {
            @apply w-4;
        }
    }
}

.contactLabel {
    @apply text-afri-text-primary;
}

.contactValue {
    @apply text-afri-text-muted text-sm flex flex-col items-start gap-1;
}

.contactLink {
    @apply text-afri-text-muted text-sm underline;
}
