.section {
    @apply lg:py-36 mt-20 bg-[#E9EDF6] w-full;
}

.container {
    @apply relative xl:w-[80%] w-[95%] max-w-[90rem] mx-auto flex lg:flex-row flex-col items-center text-center py-16 mid-xl:justify-start mid-xl:gap-[12vw] justify-between gap-10;
}

.textContent {
    @apply flex flex-col items-start gap-6 lg:max-w-[600px] max-w-[750px];
}

.header {
    @apply flex flex-col items-start gap-1;
}

.badge {
    @apply lg:text-sm text-xs text-afri-text-primary font-semibold font-raleway flex items-center;

    svg {
        @apply w-3 h-3 mx-1;
    }
}

.title {
    @apply font-poppins font-medium lg:text-2xl text-xl text-afri-primary leading-snug;
}

.description {
    @apply lg:text-sm text-xs text-afri-text-muted text-start;
}

.divider {
    @apply h-[0.15rem] w-full bg-afri-primary/20;
}

.address {
    @apply not-italic;
}

.contactList {
    @apply flex flex-col items-start gap-4;
}

.contactItem {
    @apply lg:text-base text-sm flex gap-1 font-medium;

    &.schedule {
        @apply text-afri-primary sm:flex-nowrap flex-wrap;

        svg {
            @apply w-4;
        }
    }
}

.contactLabel {
    @apply text-afri-text-primary;
}

.contactValue {
    @apply text-afri-text-muted;
}

.contactLink {
    @apply text-afri-text-muted underline;
}
