@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-raleway: "Raleway", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #fcfcfc;
        --foreground: #1a1a1a;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-poppins);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    min-width: 300px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-poppins);
}
