// Desktop Header
.desktopHeader {
    @apply bg-background shadow-violet-card absolute top-5 xl:w-[80%] max-w-[90rem] w-[95%] py-4 px-4 mx-auto left-1/2 transform -translate-x-1/2 rounded-md lg:flex hidden justify-between items-center z-20;
}

.logoContainer {
    @apply py-2 flex items-center gap-2;
}
.navList {
    @apply flex gap-5 justify-between items-center;
}

.navItem {
    @apply inline-block xl:text-lg text-base text-foreground font-medium cursor-pointer hover:text-primary transition;
}

.ctaButton {
    @apply bg-primary xl:text-lg text-primary-foreground font-medium py-2.5 px-6 rounded-md shadow-sm hover:bg-[#1B1464] transition;
}

// Mobile and Tablet Navigation
.mobileAside {
    @apply lg:hidden absolute z-30 w-full bg-background shadow-md left-0 right-0;
}

.mobileHeader {
    @apply py-3  flex justify-between items-center w-[95%] mx-auto;
}

.mobileLogoContainer {
    @apply flex items-center gap-2;
}

.menuButton {
    @apply text-foreground box-border w-10 h-10 flex justify-center items-center rounded-md hover:bg-primary/[0.1] transition shadow-sm border border-border;
}

// Overlay
.overlay {
    @apply lg:hidden bg-black/40 w-full h-full absolute top-0 left-0 z-20;
}

// Mobile Navigation Menu
.mobileNav {
    @apply lg:hidden bg-background shadow-md w-full absolute z-40 top-16 left-0 px-4 py-6 flex flex-col gap-7;
}

.mobileNavList {
    @apply flex flex-col gap-4 justify-between items-start;
}

.mobileNavItem {
    @apply text-foreground font-semibold cursor-pointer hover:text-primary transition;
}
