.homeContainer {
    @apply flex items-center relative overflow-hidden 
           bg-afri-primary 
           h-[50rem] md:h-screen md:max-h-[56rem];
}

.contentWrapper {
    @apply absolute z-10 left-1/2 transform -translate-x-1/2
           xl:w-[80%] w-[95%] max-w-[90rem]
           mx-auto xl:top-16 lg:top-20 top-40;
}

.innerContent {
    @apply flex flex-1 mx-auto 
           lg:flex-row flex-col 
           md:justify-between justify-end items-center 
           xl:gap-10;
}

.textSection {
    @apply flex flex-col 
           lg:items-start items-center 
           lg:gap-8 gap-4 
           xl:w-[51%] xl:min-w-[423px] lg:w-[64%] lg:max-w-[550px] 2xl:max-w-none md:w-full w-[24rem];
}

.title {
    @apply text-white font-semibold leading-snug 
           lg:text-5xl text-3xl 
           lg:text-start text-center;
}

.description {
    @apply text-afri-text-secondary opacity-90 
           lg:text-lg text-base 
           lg:text-start text-center w-[90%];
}

.ctaButton {
    @apply bg-white text-afri-text-primary font-semibold 
           py-3 px-8 rounded-md shadow-sm 
           lg:text-lg text-base 
           hover:bg-gray-200 transition;
}

.squaresTopLeft {
    @apply absolute inset-0 -top-5 -left-2 w-max z-0;
}

.circleTop {
    @apply absolute z-10 
           lg:top-1/3 top-28 
           lg:left-1/3 left-[80%];
}

.circleBottom {
    @apply absolute z-10 
           lg:top-3/4 top-64 md:left-32 left-8;
}

.squaresBottomRight {
    @apply absolute -bottom-5 -right-2 w-max z-0 rotate-180;
}
