.homeContainer {
    @apply xl:pt-32 lg:pt-36 pt-28 flex items-end relative;
}

.contentWrapper {
    @apply xl:w-[80%] z-10 w-[95%] max-w-[90rem]
           mx-auto;
}

.innerContent {
    @apply flex mx-auto 
           lg:flex-row flex-col 
           md:justify-between justify-end items-center 
           xl:gap-10;
}

.textSection {
    @apply flex flex-col 
           lg:items-start items-center 
           lg:gap-8 gap-4 
           xl:w-[46%] xl:min-w-[423px] lg:w-[64%] lg:max-w-[550px] 2xl:max-w-none md:max-w-full max-w-[24rem];
}

.title {
    @apply text-white font-semibold leading-snug 
           lg:text-5xl text-3xl 
           lg:text-start text-center;
}

.description {
    @apply text-afri-text-secondary opacity-90 
           lg:text-lg text-base 
           lg:text-start text-center w-[90%];
}

.ctaButton {
    @apply bg-white text-afri-text-primary font-semibold 
           py-3 px-8 rounded-md shadow-sm 
           lg:text-lg text-base 
           hover:bg-gray-200 transition;
}
