.backgroundContainer {
    @apply bg-afri-primary absolute inset-0 -z-0 w-full md:max-h-[50rem] overflow-hidden h-[50rem];
}
.squaresTopLeft {
    @apply absolute inset-0 -top-5 -left-2 w-max z-0;
}

.circleTop {
    @apply absolute z-10 
           lg:top-1/3 top-28 
           lg:left-1/3 left-[80%];
}

.circleBottom {
    @apply absolute z-10 
           lg:top-3/4 top-64 md:left-32 left-8;
}

.squaresBottomRight {
    @apply absolute bottom-0 -right-0 w-max z-0 rotate-180;
}
