.cardItem {
    @apply flex-1 lg:min-w-[25%] md:min-w-[49%] w-full min-w-full;
}
.cardItemArticle {
    @apply w-full h-full
    bg-white lg:px-3 sm:px-4 px-4 py-7 rounded-lg shadow-sm flex flex-col gap-4 justify-center min-w-min;
}
.quoteBlock {
    display: inline;
    position: relative;
    @apply font-semibold md:text-sm text-xs text-start italic;
}

.quoteBlock {
    @apply inline relative font-semibold md:text-sm text-xs text-start italic;
}

.quoteBlock::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: text-top;
    background: url("/icons/quote-start.svg") no-repeat center / contain;
}

// Retirez le ::after et créez cette classe
.quoteEnd {
    display: inline-block;
    position: relative;
    vertical-align: text-bottom;
    padding-right: 25px;
    // background: url("/icons/quote-end.svg") no-repeat center / contain;
    white-space: nowrap;
}
