.container {
    @apply flex gap-6;
}

.leftColumn {
    @apply flex flex-col gap-6 w-1/2;
}

.imageTopLeft {
    @apply h-[20rem] w-[15.3rem] relative overflow-hidden rounded-s-[3.5em] rounded-tr-[3.5em] shadow-sm;
}

.imageTopLeftImg {
    @apply object-cover;
}

.overlay {
    @apply absolute bg-black/10 z-10 w-full h-full top-0 left-0 bottom-0 right-0;
}

.statsCard {
    @apply h-24 w-[15.3rem] shadow-white-card mid-xl:bg-primary lg:bg-background bg-primary rounded-r-[3em] rounded-tl-[3em] p-5 flex gap-3 justify-between items-center;
}

.statsIconWrapper {
    @apply h-16 min-w-[4rem] mid-xl:bg-background lg:bg-primary/5 bg-background shadow-sm rounded-full flex items-center justify-center;
}

.statsIcon {
    @apply w-10 h-10 text-primary m-auto;
}

.statsText {
    @apply mid-xl:text-primary-foreground lg:text-primary text-base text-primary-foreground font-semibold font-poppins;
}

.rightColumn {
    @apply mid-xl:flex lg:hidden sm:flex hidden flex-col lg:gap-4 gap-8;
}

.circleImageWrapper {
    @apply relative p-2 w-[14.3rem] box-border h-[14.3rem] rounded-full;
}

.circleDashedIcon {
    @apply absolute w-full h-full top-0 bottom-0 right-0 left-0 z-10;
}

.circleImageInner {
    @apply w-full h-full rounded-full overflow-hidden relative shadow-sm flex items-center justify-center;
}

.circleImage {
    @apply object-cover w-[95%] h-[95%] rounded-full;
}

.circleOverlay {
    @apply absolute bg-black/10 z-10 w-[95%] h-[95%] rounded-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.imageBottomRight {
    @apply w-[15.3rem] h-[18rem] overflow-hidden relative shadow-sm rounded-tr-[3.5em] rounded-br-[3.5em] rounded-bl-[3.5em];
}

.imageBottomRightImg {
    @apply object-cover w-full h-full;
}
