.statsSection {
    @apply mt-20 w-full relative sm:py-20 py-14 bg-primary overflow-hidden;
}

.statsList {
    @apply xl:w-[80%] w-[95%] max-w-[90rem] mx-auto flex items-start justify-between text-center md:flex-nowrap flex-wrap md:gap-4 gap-8 relative z-30;
}

.statsItem {
    @apply flex-1 flex flex-col items-center justify-center gap-5 text-center md:min-w-min sm:min-w-[15rem] min-w-[45%];
}

.iconWrapper {
    @apply lg:w-24 sm:w-20 w-16 lg:h-24 sm:h-20 h-16 rounded-full shadow-sm text-primary bg-primary-foreground flex justify-center items-center border border-border;
}

.iconSize {
    @apply sm:w-10 w-8  sm:h-10 h-8;
}

.statsValue {
    @apply font-poppins text-primary-foreground lg:text-xl sm:text-base text-sm font-medium;
}

.statsLabel {
    @apply font-poppins text-primary-foreground lg:text-xl sm:text-base text-sm;
}

.decorTop {
    @apply absolute inset-0 -top-5 -left-2 w-max z-0;
}

.decorBottom {
    @apply absolute bottom-0 -right-0 w-max z-0 rotate-180;
}
