.statsSection {
    @apply mt-20 w-full relative sm:py-20 py-14 bg-afri-primary overflow-hidden;
}

.statsList {
    @apply xl:w-[80%] w-[95%] max-w-[90rem] mx-auto flex items-start justify-between text-center md:flex-nowrap flex-wrap md:gap-4 gap-8 relative z-30;
}

.statsItem {
    @apply flex-1 flex flex-col items-center justify-center lg:gap-8 gap-5 text-center md:min-w-min sm:min-w-[15rem] min-w-[9.5rem];
}

.iconWrapper {
    @apply lg:w-28 sm:w-20 w-16 lg:h-28 sm:h-20 h-16 rounded-full shadow-sm text-afri-primary bg-white flex justify-center items-center;
}

.iconSize {
    @apply lg:w-14 sm:w-10 w-8 lg:h-14 sm:h-10 h-8;
}

.statsValue {
    @apply font-poppins text-white lg:text-4xl sm:text-2xl text-lg font-medium;
}

.statsLabel {
    @apply font-poppins text-white lg:text-2xl sm:text-base text-sm;
}

.decorTop {
    @apply absolute inset-0 -top-5 -left-2 w-max z-0;
}

.decorBottom {
    @apply absolute bottom-0 -right-0 w-max z-0 rotate-180;
}
